<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Hello</title>


</head>

<body>

<form th:action="@{/processPersonForm}" method="POST">

    First name : <input type="text" th:field="${person.firstName}">
    <br/>
    Last name : <input type="text" th:field="${person.lastName}">

    <br><br>

    Country:

    <select th:field="*{person.country}">

        <option th:value="Brazil">Brazil</option>
        <option th:value="France">France</option>
        <option th:value="Germany">Germany</option>
        <option th:value="India">India</option>

    </select>

    <br><br>

    <input type="submit" value="Submit">

</form>

</body>

</html>