<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person Confirmation</title>
</head>
<body>

<h3>Person Confirmation</h3>

The person is conformation: <span th:text="${person.firstName} + ' ' + ${person.lastName}"/>
<br>
Free passes: <span th:text="${person.freePasses}"/>
<br>
Postal Code: <span th:text="${person.postalCode}"/>
<br>

<!--Your country : <span th:text="${person.country}"/>-->
<!--<br>-->
<!--Your Favorite Language : <span th:text="${person.favoriteLanguage}"/>-->
<!--<br>-->
<!--Your Favorite System :-->
<!--<ul>-->
<!--    <li th:each="tempSystem : ${person.favoriteSystems}" th:text="${tempSystem}"/>-->
<!--</ul>-->
</body>
</html>
