<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <title>Hello</title>


</head>

<body>

<form th:action="@{/processPersonForm}" method="POST">

    First name : <input type="text" th:field="${person.firstName}">
    <br/>
    Last name : <input type="text" th:field="${person.lastName}">

    <br><br>

    Country:

    <select th:field="*{person.country}">

        <option th:each="tempCountry : ${countries}" th:value="${tempCountry}" th:text="${tempCountry}"/>
    </select>

    <br><br>

    Favorite Programming Language:

    <input type="radio" th:field="*{person.favoriteLanguage}"
                        th:each="tempLang : ${languages}"
                        th:value="${tempLang}"
                        th:text="${tempLang}"/>


    <br><br>

    <input type="submit" value="Submit">

</form>

</body>

</html>